*{
  font-family: "Barlow Condensed", sans-serif;
  color: #fff;
  font-size: 1em;
}
html{
  height: 100%;
}
@supports((-webkit-backdrop-filter: none;) or (backdrop-filter: none;)){

  .backdrop-filter{
    
  }
  .backdrop-filter::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15.8em;
    background-color: rgba(255, 255, 255, .1);
    filter: blur(1.5em);
    z-index: -1;
  }
}

/* animations */
@keyframes slideIn {
  from{top: 2em; opacity: .3;}
  to{top: 0; opacity: 1;}
}


